html {
  font-family: Raleway, sans-serif;
}

.nav {
  background-color: #991A1E;
}

.nav a, footer a {
  color: white;
}

.nav nav {
  background-color: #681315;
}

footer {
  background-color: #681315;
}

.section-head {
  background-color: #991A1E;
  color: white;
}

.border-grey {
  border: 2px solid #5C5C5C;
}
