html {
  font-family: Raleway, sans-serif;
}

.nav a, footer a {
  color: white;
}

.nav nav, footer {
  background-color: #681315;
}

.section-head, .nav {
  background-color: #991a1E;
  color: white;
}

.border-grey {
  border: 2px solid #5c5c5c;
}

.banner-back-index {
  background-color: #515541;
}

.banner-index, .animal-btn:hover {
  background-color: #e2cbab;
}

.banner-back-rescue {
  background-color: #e98b79;
}

.banner-rescue {
  background-color: #fde6e6;
}

.btn-red {
  background-color: #991a1e;
  color: white;
  border: 1px solid #991a1e;
}

.btn-red:hover {
  background-color: #520000;
  color: #991a1E;
  border: 1px solid #520000;
}

.form-label {
  background-color: #991a1e;
  color: white;
}
